@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Paytone+One&display=swap');

main {
  margin: 0;
  overflow: hidden;
  height: 50vh;
}

h2 {
  font-size: 1.9rem;
  text-align: center;
  letter-spacing: 1px;
  line-height: 3.2rem;
  padding-top: 0.5rem;
  max-width: 40%;
}

h1 {
  font-size: 2.5rem;
  text-align: center;
  letter-spacing: 1px;
  line-height: 3.5rem;
  padding: 0.1rem 0 1.0rem 0;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 60%;
  margin-bottom: 0;
}

.inVibe {
  font-family: 'Libre Baskerville', serif;
  font-size: 2.8rem;
}

.mainImage {
  border-radius: .5rem;
  height: 55vh;
  margin: 0 auto;
  max-height: 100%;
  max-width: 100%;
}

.mainImage:hover {
  transform: scale(1.06);
}

@media only screen and (max-width: 375px){
  h2 {
    line-height: 3.2rem;
    padding-bottom: .01rem;
    max-width: 80%;
  }

  h1 {
    padding: 0.1rem 0 1.0rem 0;
  }

}