.profiles {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center; 
  }

  .userInfo{
    color:rgb(231, 231, 231);
    font-size: 2rem;
  }

  .followerInfo {
    color:rgb(231, 231, 231);
    font-size: 2rem;
  }

  .followingInfo {
    color: 
    whitesmoke;
    font-size: 1.2rem;
    padding: 1.2rem;
  }

  .followerContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0, 1.5rem;
  }

  .profileCard {
    background-color: rgb(11, 18, 22, 0.5);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    align-items: center;
  }

  .followersCard {
    background-color: rgb(11, 18, 22, 0.5);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    align-items: center;
  }

  .profileBackground {
    background-image: url("../../images/michael-dziedzic-zqbTr1jwSxc-unsplash.jpg");
    background-size: 300px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 3px 10px 15px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.2);
    width: 60vw;
    max-height: 500px;
    margin: 3rem 5rem 5rem;
    object-fit: cover;
    border-radius: 10px;
  }

.followersBackground {
    background-image: url("../../images/michael-dziedzic-zqbTr1jwSxc-unsplash.jpg");
    background-size: 300px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 3px 10px 15px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.2);
    width: 50vw;
    max-height: 500px;
    margin: 3rem 5rem 5rem;
    object-fit: cover;
    border-radius: 10px;
}

.followButton {
  background-color: rgb(0, 0, 0);
  border: 1px solid rgb(110, 58, 67);
  color: rgb(231, 231, 231);
  height: 25px;
  width: 55px;
  font-size: 0.9rem;
  letter-spacing: 2px;
  /* width: 80px; */
  margin-bottom: 10px;
}

.followButton:hover{
  background-color: rgb(184, 182, 182);
  color: rgb(0, 0, 0);
}


@media only screen and (max-width: 375px){ 
  


}