@import url('https://fonts.googleapis.com/css2?family=Paytone+One&family=Suravaram&display=swap');

@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Paytone+One&family=Suravaram&display=swap');

body {
  font-family: 'ABeeZee', sans-serif;
}

a:link {
  text-decoration: none;
}
