@import url('https://fonts.googleapis.com/css2?family=Paytone+One&family=Suravaram&display=swap');

@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Paytone+One&family=Suravaram&display=swap');

@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Inter:wght@300;400&family=Paytone+One&family=Suravaram&display=swap');

html, body, main {
  height: 100%;
  width: 100%;
  margin: 0;
}


/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
}

body {
  /* font-family: 'ABeeZee', sans-serif; */
  font-family: 'Inter', sans-serif;
  color: rgba(234, 224, 213);
  background-color: rgb(7, 16, 20);
}

a:link {
  text-decoration: none;
}

button {

}