a {
  color: rgb(253, 253, 253);
}

.navBar {
  margin: 0 auto;
  padding-top: 1rem;
  width: 100%;
}

.navBackground {
  background-image: url("../../images/nav-bar.png");
  object-fit: none;
}

nav {
  display: flex;
  background-color: rgb(11, 18, 22, 0.5);
  border-bottom: 1px solid rgb(121, 62, 72);
  height: 4rem;
  justify-content: center;
  width: 100%;
}

.navBarLoggedIn {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
      "one two three four";
      /* "three four"; */
  margin: auto;
  padding: .2rem 0;
  width: 70%;
}

.navBarLoggedOut {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "one two";
    padding: .2rem 0;
    width: 60%;
}

.navItem {
  align-self: center;
  font-size: 1.7rem;
  list-style: none;
  /* padding: .2rem 0; */
  text-align: center;
}

.navItem:hover {
  transform: scale(1.1);
}

.gridSpace01 {
  grid-area: one;
}

.gridSpace02 {
  grid-area: two;
}

.gridSpace03 {
  grid-area: three;
}

.gridSpace04 {
  grid-area: four;
}

@media only screen and (max-width: 375px){
  
  .navBarLoggedIn {
    padding: .2rem 0;
    width: 95%;
  }
  
  .navBarLoggedOut {
      padding: .2rem 0;
  }

  .navItem {
    font-size: 1.2rem;  
  }

}