.searchLocationBody {
  margin: 0 auto;
  min-height: 100vh;
}

.searchContainer {
  display: flex;
  align-content: center;
  margin: auto;
}

.searchContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.locationTitle {
  font-size: 1.8rem;
  max-width: 100%;
}

.resultsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
}

.resetSearchBtn {
  background-color: rgb(0, 0, 0);
  border: 1px solid rgb(110, 58, 67);
  border-radius: 10px;
  color: rgb(231, 231, 231);
  height: 50px;
  font-size: 1.5rem;
  letter-spacing: 2px;
  width: 120px;
}

.resetSearchBtn:hover{
  background-color: rgb(184, 182, 182);
  color: rgb(0, 0, 0);
}

.locationCard {
  background-image: url("../../images/michael-dziedzic-zqbTr1jwSxc-unsplash.jpg");
  background-size: 300px;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 3px 10px 15px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.2);
  width: 80vw;
  max-height: 400px;
  width: 300px;
  margin: 3rem 5rem 5rem;
  object-fit: cover;
}

.locationCard:hover {
  transform: scale(1.08);
}

.backgroundLayer {
  background-color: rgb(11, 18, 22, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 1rem;
  height: 100%;
  width: 100%;
}

.barInfoGrid {
  display: grid;
  grid-template-columns: 75% auto;
  grid-auto-rows: minmax(min-content, max-content);
  grid-template-areas:
    "one two"
    "three four"
    "five six"
    "seven eight";
  column-gap: 1rem;
  height: auto;
  align-items: center;
  justify-self: end;
  justify-items: start;
  margin-top: .4rem;
  padding-bottom: 3rem;
}

.barImageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: rgba(2, 2, 10, 0.384);
  height: 55%;
  margin: 0 auto;
  min-width: 100%;
  max-width: 100%;
}

.barImage {
  justify-self: start;
  height: 100%;
  max-width: 100%;
  object-fit: scale-down;
}

.barName {
  /* border-top: rgb(43, 65, 78) 1px solid;
  border-bottom: rgb(43, 65, 78) 1px solid; */
  font-size: 1.8rem;
  grid-column: 1 / 3; 
  max-width: 100%;
  padding: 10px 5px;
  margin: 0;
}

.barLocation {
  font-size: 1.1rem;
  grid-area: three;
  line-height: 2px;
  padding-left: 10px;
}

.barPhone {
  font-size: 1.1rem;
  grid-area: five;
  line-height: 2px;
  padding-left: 10px;
}

.barOPen {
  font-size: 1.1rem;
  grid-area: seven;
  line-height: 2px;
  padding-left: 10px;
}

.barRating {
  font-size: 1.1rem;
  grid-area: six;
  line-height: 2px;
}

.barPrice {
  font-size: 1.1rem;
  grid-area: four;
  line-height: 2px;
}

.barLink {
  font-size: 1.1rem;
  grid-area: eight;
  line-height: 2px;
  padding: 0 9px 0 0;
}

.barLink:hover {
  color: red;
  transform: scale(1.2);
}

.searchContainer {
  margin-top: 4rem;
}

button {
  width: 10rem;
}