main {
  margin: auto;
  min-height: 100vh;
  overflow: visible;
}

.searchContainer {
  margin: auto;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.locationTitle {
  max-width: 100%;
}

.resultsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
}

.locationCard {
  background-color: rgb(22, 35, 43);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.2);
  height: 50vh;
  width: 80vw;
  max-width: 95%;
  margin-bottom: 5rem;
}

.barInfoGrid {
  border-top: rgb(43, 65, 78) 1px solid;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
    "one two"
    "three four"
    "five six"
    "seven eight";
  max-height: 30%;
  max-width: 100%;
  margin: 0px 3px 3px;
}

.barImageContainer {
  margin: auto;
}

.barImage {
  height: 20rem;
  margin: auto;
  max-width: 100%;
  object-fit: cover;
}

.barName {
  font-size: 1.8rem;
  grid-row: 1 / 3; 
  margin: 1px 1px 2px 0;
  
}
.barLocation {
  grid-area: two;
  margin: 3px 1px 0px 0;
}

.barPhone {
  grid-area: four;
}

.barOPen {
  grid-area: five;
  margin: 4px 0 2px 0;
}

.barRating {
  grid-area: six;
}

.barPrice {
  grid-area: seven;
  margin: 0 0 2px 0;
}

.barLink {
  grid-area: eight;
  margin: 0 0 2px 0;
}

