main {
  margin: auto;
  min-height: 100vh;
  overflow: visible;
}

.locationContainer {
  margin: auto;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.locationTitle {
  max-width: 100%;
}

.resultsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
}